<section class="testimonials">
  <!-- Header -->
  <div class="testimonials__header">
    <h2 class="testimonials__title">Customer Testimonials</h2>
    <p class="testimonials__subtitle">What our customers love about Rajhans Tea</p>
  </div>

  <!-- Senja Widget Container -->
  <div class="testimonials__widget-container">
    <script
      src="https://widget.senja.io/widget/55cc1781-1621-4504-8830-8e1437297226/platform.js"
      type="text/javascript"
      async
    ></script>
    <div
      class="senja-embed"
      data-id="55cc1781-1621-4504-8830-8e1437297226"
      data-mode="shadow"
      data-lazyload="false"
      style="display: block; width: 100%"
    ></div>
  </div>
</section>
